{% extends "navbar.html" %}

{% block content %}

<div class="card mx-auto my-5" style="width: 90%; max-width: 800px;">
    <div class="card-header"
        style="background-color: rgba(249, 131, 65, 0.8); text-align: center; font-weight: bold; color: #fff; font-size: x-large;">
        Upload Child Record</div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-3 mb-lg-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Total Available : {{count_avail}}</li>
                    <li class="list-group-item">Total Sponsored : {{count_sponsored}}</li>
                    <li class="list-group-item">Total Hold : {{count_hold}}</li>
                    <li class="list-group-item">Total Left Program : {{count_left}}</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12">
                <hr>
                <form action="{% url 'childrecord_insert_excel' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="file" class="form-label">File</label>
                    <input class="form-control" type="file" name="file_excel" id="file_excel">
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card mx-auto my-5" style="width: 90%; max-width: 1500px;">
    <div class="card-header"
        style="background-color: rgba(249, 131, 65, 0.8); text-align: center; font-weight: bold; color: #fff; font-size: x-large;">
        Child Record</div>
    <div class="card-body">
        <form action="{% url 'childrecord_update_target' %}" method="post" class="mb-4">
            {% csrf_token %}
            <label for="target">Update Target</label>
            <input type="number" class="form-control" name="target" id="target" value="{{param}}">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <hr>

        {% if error %}
        <p>{{error}}</p>
        {% endif %}

        {% if child_records %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="tables">
                <thead>
                    <tr>
                        <th>Child ID</th>
                        <th>Child Name</th>
                        <th>Gender</th>
                        <th>Project Number and Name</th>
                        <th>Community</th>
                        <th>RC Status</th>
                        <th>Age</th>
                        <th>Kader</th>
                    </tr>
                </thead>
                <tbody>
                    {% for child in child_records %}
                    <tr>
                        <td>{{child.child_id.id}}</td>
                        <td>{{child.child_id.name}}</td>
                        <td>{{child.child_id.gender}}</td>
                        <td>{{child.project_number}}</td>
                        <td>{{child.child_id.community}}</td>
                        {% if child.status == "3 - Hold" %}
                        <td style="background-color:yellow">{{child.status}}</td>
                        {% else %}
                        <td>{{child.status}}</td>
                        {% endif %}
                        <td>{{child.child_id.age}}</td>
                        <td>
                            <form action="{% url 'childrecord_update' %}" method="post" class="d-flex">
                                {% csrf_token %}
                                <input type="hidden" name="childrecord_id" value="{{child.id}}">
                                <select name="kader_id" id="kader" class="form-select me-2">
                                    {% for kader in kaders %}
                                    <option value="{{kader.id}}" {% if kader.id == child.kader_id.id %} selected {% endif %}>
                                        {{kader.name}} - {{kader.phone_number}}</option>
                                    {% endfor %}
                                    <option value="NULL" {% if child.kader_id is None %} selected {% endif %}></option>
                                </select>
                                <button type="submit" class="btn btn-secondary">
                                    <i class='bx bx-refresh'></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>                
                <tfoot>
                    <tr>
                        <th>Child ID</th>
                        <th>Child Name</th>
                        <th>Gender</th>
                        <th>Project Number and Name</th>
                        <th>Community</th>
                        <th>RC Status</th>
                        <th>Age</th>
                        <th>Kader</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        {% else %}
        <p>Data not exist!</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        new DataTable('#tables', {
            scrollX: true,
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        let column = this;
                        console.log(column.header());
                        let title = column.footer().textContent;

                        // Create input element
                        let input = document.createElement('input');
                        input.placeholder = title;
                        column.footer().replaceChildren(input);

                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== this.value) {
                                column.search(input.value).draw();
                            }
                        });
                    });
            }
        });

    });
</script>
{% endblock %}