{% extends "navbar.html" %}

{% block content %}
<div class="container">

    {% if error %}
    <p>{{error}}</p>
    {% endif %}

    {% if childs %}
    <table class="table table-striped table-bordered" id="tables">
        <thead>
            <tr>
                <th>Child ID</th>
                <th>Child Name</th>
                <th>Gender</th>
                <th>Community</th>
                <th>Age</th>
                <th>RT</th>
            </tr>
        </thead>
        <tbody>
            {% for child in childs %}
            <tr>
                <td>{{child.id}}</td>
                <td>{{child.name}}</td>
                <td>{{child.gender}}</td>
                <td>{{child.community}}</td>
                <td>{{child.age}}</td>
                <td>
                    <form action="/child/update" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="child_id" value="{{child.id}}">
                        <input type="text" name="rt" id="rt" value="{{child.rt}}">
                        <button type="submit" class="btn btn-secondary">Update</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Child ID</th>
                <th>Child Name</th>
                <th>Gender</th>
                <th>Community</th>
                <th>Age</th>
                <th>RT</th>
            </tr>
        </tfoot>
    </table>
    {% else %}
    <p>Data not exist !</p>
    {% endif %}
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        new DataTable('#tables', {
            scrollX: true,
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        let column = this;
                        console.log(column.header());
                        let title = column.footer().textContent;

                        // Create input element
                        let input = document.createElement('input');
                        input.placeholder = title;
                        column.footer().replaceChildren(input);

                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== this.value) {
                                column.search(input.value).draw();
                            }
                        });
                    });
            }
        });

    });
</script>
{% endblock %}