{% extends "navbar.html" %}

{% block content %}
<!-- <h2 style="text-align:center">Form</h2>
<form action="/kader/insert" method="post">
    {% csrf_token %}
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control">
    <label for="number">Number</label>
    <input type="text" class="form-control" name="number" id="number">
    <label for="name">Kelurahan</label>
    <input type="text" name="kelurahan" id="kelurahan" class="form-control">
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<hr>
<br><br> -->
<div class="card mx-auto my-5" style="width: 35rem;">
    <div class="card-header my-0" style="background-color: rgba(249, 131, 65, 0.8); text-align: center; font-weight: bold; color: #fff; font-size: x-large;">Form Kader</div>
    <div class="card-body pt-0">
        <div class="forms">
            <div class="form login">
                <form action="/kader/insert" method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" required>
                    </div>
                    <div class="input-field">
                        <label for="number">Number</label>
                        <input type="text" class="form-control" name="number" id="number" required>
                    </div>
                    <div class="input-field">
                        <label for="name">Kelurahan</label>
                        <input type="text" name="kelurahan" id="kelurahan" class="form-control" required>
                    </div>
                    <div class="input-field button">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% if kaders %}
<table class="mx-auto">
    <tr style="background-color: rgba(249, 131, 65, 0.8); color: #fff; text-align: center;">
        <th>Name</th>
        <th>Phone Number</th>
        <th>Sub-District</th>
        <th colspan="2">Action</th>
    </tr>
    {% for kader in kaders %}
    <tr>
        <td class="px-1 py-1"><input type="text" class="form-control" name="name" value="{{kader.name}}"></td>
        <td class="px-1 py-1"><input type="text" class="form-control" name="number" value="{{kader.phone_number}}"></td>
        <td class="px-1 py-1"><input type="text" class="form-control" name="kelurahan" value="{{kader.kelurahan}}"></td>
        <td class="px-1 py-1">
            <form action="kader/update" method="post">
                {% csrf_token %}
                <input type="hidden" name="kader_id" id="kader_id" value="{{kader.id}}">
                <button type="submit" class="btn btn-secondary">Update</button>
            </form>
        </td>
        <td class="px-1 py-1">
            <form action="kader/delete" method="post">
                {% csrf_token %}
                <input type="hidden" name="kader_id" id="kader_id" value="{{kader.id}}">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    <!-- <tr>
        <form action="kader/update" method="post">
            {% csrf_token %}
            <input type="hidden" name="kader_id" id="kader_id" value="{{kader.id}}">
            <td><input type="text" class="form-control" name="name" value="{{kader.name}}"></td>
            <td><input type="text" class="form-control" name="number" value="{{kader.phone_number}}"></td>
            <td><input type="text" class="form-control" name="kelurahan" value="{{kader.kelurahan}}"></td>
            <td><button type="submit" class="btn btn-secondary">Update</button></td>
        </form>
        <form action="kader/delete" method="post">
            {% csrf_token %}
            <input type="hidden" name="kader_id" id="kader_id" value="{{kader.id}}">
            <td><button type="submit" class="btn btn-danger">Delete</button></td>
        </form>
    </tr> -->
    {% endfor %}
</table>

{% else %}
<p style="text-align: center;">Data not exist</p>
{% endif %}
{% endblock %}

{% block js %}
<script>
    const container = document.querySelector(".container"),
        pwShowHide = document.querySelectorAll(".showHidePw"),
        pwFields = document.querySelectorAll(".password"),
        signUp = document.querySelector(".signup-link"),
        login = document.querySelector(".login-link");

    //   js code to show/hide password and change icon
    pwShowHide.forEach(eyeIcon => {
        eyeIcon.addEventListener("click", () => {
            pwFields.forEach(pwField => {
                if (pwField.type === "password") {
                    pwField.type = "text";

                    pwShowHide.forEach(icon => {
                        icon.classList.replace("uil-eye-slash", "uil-eye");
                    })
                } else {
                    pwField.type = "password";

                    pwShowHide.forEach(icon => {
                        icon.classList.replace("uil-eye", "uil-eye-slash");
                    })
                }
            })
        })
    })

    // js code to appear signup and login form
    signUp.addEventListener("click", () => {
        container.classList.add("active");
    });
    login.addEventListener("click", () => {
        container.classList.remove("active");
    });
</script>
{% endblock %}