{% extends "base2.html" %}

{% block content %}
<h2 style="text-align:center">Form</h2>
<form action="/kader/insert" method="post">
    {% csrf_token %}
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control">
    <label for="number">Number</label>
    <input type="text" class="form-control" name="number" id="number">
    <label for="name">Kelurahan</label>
    <input type="text" name="kelurahan" id="kelurahan" class="form-control">
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<hr>
<br><br>
{% if kaders %}
<table>
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
    </tr>
    {% for kader in kaders %}
    <tr>
        <form action="kader/update" method="post">
            {% csrf_token %}
            <input type="hidden" name="kader_id" id="kader_id" value="{{kader.id}}" >
            <td><input type="text" class="form-control" name="name"value="{{kader.name}}"></td>
            <td><input type="text" class="form-control" name="number"value="{{kader.phone_number}}"></td>
            <td><input type="text" class="form-control" name="kelurahan"value="{{kader.kelurahan}}"></td>
            <td><button type="submit" class="btn btn-secondary">Update</button></td>
        </form>
        <form action="kader/delete" method="post">
            {% csrf_token %}
            <input type="hidden" name="kader_id" id="kader_id" value="{{kader.id}}" >
            <td><button type="submit" class="btn btn-danger">Delete</button></td>
        </form>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Data not exist</p>
{% endif %}
{% endblock %}