<nav class="navbar navbar-expand-lg" style="background-color: rgba(249, 131, 65, 0.8);">
    <div class="logo" style="height: 10vh;">
        <i class="bx bx-menu menu-icon" style="color: #fff;"></i>
        <span class="logo-name" style="color: #fff;">Wahana Visi Indonesia</span>
    </div>
    <div class="sidebar" style="padding: 0px;">
        <div class="logo"
            style="background-color: rgba(249, 131, 65, 0.8); width: 100%; margin-left: 0px; height: 10vh; padding-left: 1vw;">
            <i class="bx bx-menu menu-icon" style="color: #fff;"></i>
            <span class="logo-name" style="font-size: 15px; color: #fff;">Wahana Visi Indonesia</span>
        </div>

        <div class="sidebar-content">
            <ul class="lists" style="padding-left: 0;">
                <li class="list">
                    <a href="/child" class="nav-link">
                        <i class="bx bx-child icon"></i>
                        <span class="link">Child</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/childrecord" class="nav-link">
                        <i class="bx bxs-file icon"></i>
                        <span class="link">Child Record</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/kader" class="nav-link">
                        <i class="bx bxs-user-rectangle icon"></i>
                        <span class="link">Kader</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/correspondence" class="nav-link">
                        <i class="bx bxs-envelope icon"></i>
                        <span class="link">Correspondence</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/participant" class="nav-link">
                        <i class="bx bxs-group icon"></i>
                        <span class="link">Participant</span>
                    </a>
                </li>
            </ul>

            <div class="bottom-cotent">
                <li class="list">
                    <a href="/logout" class="nav-link">
                        <i class="bx bx-log-out icon"></i>
                        <span class="link">Logout</span>
                    </a>
                </li>
            </div>
        </div>
    </div>
</nav>