<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/child">Wahana Visi Indonesia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="childDropdown" href="" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Child
                    </a>
                    <div class="dropdown-menu" aria-labelledby="childDropdown">
                        <a class="dropdown-item" href="/child">Child List</a>
                        <a class="dropdown-item" href="/childrecord">Child Record</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kader">Kader</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/correspondence">Correspondence</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/participant">Participant</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>